@font-face {
    font-family: 'pattaya';
    src: url('pattaya-regular-webfont.woff2') format('woff2'),
         url('pattaya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'playfair';
    src: url('playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {

    margin: 0;
    padding: 0;

    font-family: 'Playfair Display';
}


a {
    text-emphasis: none;
    color: #FFFFFF;
    text-decoration: none;
}

button {
    border: none;
}

/*
body {
    background-image: url('./imgs/landing.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/

.main-text {

    font-family: 'Pattaya';
    font-size: 3rem;
    text-align: center;
}

.velke-prve {
    font-size: 3rem;
    font-weight: 900;
    margin-right: 5px;
    font-family: "UnifrakturMaguntia", cursive;
}

.second-text {

    font-family: 'Playfair Display';
    font-size: 1rem;
}

.hviezdicka {
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.hviezdicka img {
    margin: 25px 0;
    height: 80px;
}


.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: top 0.3s;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 0.8rem;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.landing {

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./imgs/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.landing .second-text {

    color: #FFFFFF;
}

.landing .main-text {

    color: #FFFFFF;
}

.landing .main-text-upravene {
    color: #FFFFFF;
    font-family: 'Pattaya';
    font-size: 1.5rem;
    text-align: center;
}

.historia {

    background-color: #FF3333;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 0 20px;
}

.historia p {

    margin: 20px 0;
}
.galeria {
    margin: 15% 0;
}
.galeria .fotky {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.galeria .fotky div {

    width: 350px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px 10px;
    border-radius: 25px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.galeria .main-text {
    margin: 20% 0 5% 0;
}

.galeria .second-text {

    padding: 0 20px;
    margin: 20px 0;
}

.karticka-obrazok-text {

    margin: 50px auto;

    width: 95vw;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    border-radius: 25px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.karticka-obrazok-text img {

    width: 200px;
    height: 200px;
}

.karticka-obrazok-text p {

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 50%;
    
}

.poezia {

    background-color: #3582BE;
    color: #FFFFFF;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poezia .main-text {

    text-align: left;
    margin: 15% 0 8% 0;
}

.poezia .second-text {

    margin: 5% 0;
}


.poloha {
    background-color: #FF3333;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poloha div {
    margin: 50px 25px;
    
}

.poloha div p {
    margin: 15px 0;
}

.poloha a {
    background-image: url('./imgs/poloha.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 300px;
    height: 300px;

    display: inline-block;

    border-radius: 25px;

    margin-bottom: 50px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




.vybavenie {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 20px 15px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 25px;

    background-color: #FFFFFF;

}

.vybavenie .second-text {

    margin: 15px 0 25px 0;
    text-align: center;

    font-family: 'Pattaya';
    font-size: 1.5rem;
}


.vybavenie .item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin: 25px 15px;

    width: 80%;
}

.vybavenie .item img {
    height: 20px;
}

.vybavenie .item p {
    display: inline-block;
    margin-left: 15px;
    width: 80%;
    
}

.vybavenie .item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vybavenie .content-box {
    display: flex;
    flex-direction: column;
}

.vybavenie .obrazok-pozadie {
    background-image: url('./imgs/okienko.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    color: #FFFFFF;

    padding: 12% 0;
}

.cena {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3582BE;
}

.cena .karticka {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    color: #FFFFFF;

    width: 90%;
    padding: 0 5%;
}

.cena .karticka .main-text {

    margin-top: 30px;
}

.cennik {

    background-color: #FFFFFF;
    color: #000000;
    padding: 5% 15%;
    margin: 10% 0;
    border-radius: 100px;
    font-size: 1rem;
}

.kontakt {

    background-color: #FF3333;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kontakt .riadok {

    width: 80%;
    display: flex;
    flex-direction: row;
}

.kontakt .riadok {

    margin: 10px 0;
}

.kontakt .riadok p {

    margin: 0 10px;
}

.kontakt .riadok img {

    width: 20px;
}

.footer {
    width: 100%;
    color: #FFFFFF;
    background-color: #FF3333;
    font-size: 0.8rem;
    text-align: center;
    padding: 50px 0;
}

#nanogallery2 .nGY2GThumbnail  {
    border: none;
    
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.max-sirka {
    max-width: 991px;
}



@media (min-width: 992px) {
    

    .navbar a {
        font-size: 1.2rem;
    }

    .landing .main-text {
        font-size: 10rem;
    }

    .landing .second-text {
        font-size: 2rem;
    }

    .landing .main-text-upravene {
        font-size: 3rem;
    }

    .historia .main-text {
        font-size: 5rem;
    }

    .galeria {
        max-width: 991px;
        margin: 100px auto;
        
    }

    .galeria .main-text {
        font-size: 5rem;
    }

    .poezia {
        padding: 0;
    }

    .poezia .hviezdicka {
        
    }

    .poezia .main-text{
        margin: 0;
        font-size: 5rem;
    }
  
    .poezia .second-text {
        margin: 2% 0;
    }

    .cennik {

        background-color: #FFFFFF;
        color: #000000;

        padding: 2% 5%;
        margin: 5% 0;

        border-radius: 100px;
        font-size: 1rem;
    }   

    .kontakt .main-text{
        font-size: 8rem;
    }

    .kontakt .riadok {
        width: 50%;
    }


    .poloha {
        flex-direction: row;
    }

    .poloha div {
        width: 30%;
        padding: 5%;
    }

    .poloha .main-text {
        font-size: 5rem;
    }

    .poloha a {
        margin: 50px 0;

        height: 500px;
        width: 500px;

        transition: all 0.5s ease;
    }

    .poloha a:hover {
        filter: brightness(75%);
    }


    .vybavenie {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 900px;
        margin: 100px auto;
        border-radius: 50px;
    }

    .vybavenie .content-box {
        flex-direction: row;
    }

    .vybavenie .main-text {
        font-size: 5rem;
    }

    .vybavenie .second-text {
        font-family: 'Pattaya';
        font-size: 2.5rem;
    }
}
